<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mini Online Judge</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <nav class="topbar">
    <a href="/">Home</a>
    <a href="/submissions">Submissions</a>
  </nav>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    <small>Prototype — Judge0 + Flask + MongoDB + CodeMirror</small>
  </footer>
</body>
</html>
