<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FireCoding</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>
<body>
  <header>
    <div class="header-container">
      <div class="logo">
        <a href="{{ url_for('main.index') }}">
          <img src="{{ url_for('static', filename='images/firecoding-logo.png') }}" alt="FireCoding Logo" class="logo-img">
        </a>
      </div>

      <nav>
        {% if current_user.is_authenticated %}
          <div class="user-dropdown">
            <a href="{{ url_for('main.ide') }}" class="username">IDE</a>
          </div>
          <div class="user-dropdown">
            <a href="{{ url_for('main.my_profile') }}" class="username">{{ current_user.username }}</a>
          </div>
          
        {% else %}
          <a href="{{ url_for('auth.login') }}" class="login-btn">Login</a>
        {% endif %}
      </nav>
    </div>

  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
